.content-block {
  display: flex;
  align-items: center;
  gap: 5rem;
  color: var(--dark-blue);
  padding: 3rem 2rem;
  justify-content: space-between;
  width: 100%;
}

.content-block.reverse {
  background-color: var(--grey);
}

.content-image {
  max-height: 400px;
  width: auto;
  border-radius: 8px;
  object-fit: cover;
  border-radius: 10px;
}

.content-image.international-image {
  max-height: 420px;
  width: 350px;
}

.content-images {
  display: flex;
  gap: 3rem;
}


.content-text>h2 {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  font-weight: bolder;
}

.content-text {
  width: 65%;
}

.content-block.reverse>.content-text {
flex: 1;
  min-width: 0; 
}

@media (max-width: 1000px) {
  .content-block.reverse {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .content-block {
    flex-direction: column;
    gap: 3rem;
  }
  .content-block.reverse {
    flex-direction: column;
  }
  .content-block .content-image,
  .content-block .content-text {
    flex: 1 1 100%;
  }
  .content-images {
    flex-direction: column;
  }

  .content-image, .content-image.international-image, .content-images {
    width: 100%;
  }
  .content-text {
    width: 100%;
  }

  .content-block {
    flex-direction: column-reverse;
  }
}

