.diensten-container {
    padding: 2rem;
    color: var(--dark-blue);
    background-color: var(--grey);
}

.diensten-titel {
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    color: var(--dark-blue);
}

.card-diensten-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: flex-start;
    padding: 2rem 0;
}

.card-diensten {
    flex: 1 1 150px; 
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    width: 100%;
}

    .icon-wrapper svg {
    font-size: 35px;
    padding: 0;
    transition: transform 0.2s;
}   

.icon-wrapper svg.gi-tow-truck {
    transform: scale(1.4);
}

.card-header>p{
    font-weight: bolder;
    font-size: 18px;
}

.card-diensten>p{
 font-size: 17px;   
}

@media (max-width: 768px) {
    .diensten-container {
        padding: 2rem 1rem;
    }
}