footer {
    background-color: var(--dark-blue);
    color: white;
    font-weight: bolder;
    padding: 3rem;
}

footer p {
    text-align: center;
}

@media (max-width: 768px) {
  footer {
    font-size: 12px;
  }
}