
header {
  display: flex;
  align-items: center;
  margin: 1.5rem;
  color: var(--dark-blue);
  position: relative;
  z-index: 1000;
  justify-content: space-between;

}
header>img {
    width: 12.5rem;
    height: auto;
}

.logo {
  justify-self: start;
}

.menu {
  justify-self: center;
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: bolder;
}
.menu>a:hover {
  color: var(--dark-red);
}

.nav {
  justify-self: end;
}

/* ===== DIENSTEN ===== */

.diensten-wrapper {
  position: relative;
}

.diensten-trigger {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.diensten-popup {
  position: absolute;
  top: 120%;
  left: 0;
  border-radius: 6px;
  min-width: 220px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  background-color: white;
    overflow: hidden; 

}
.diensten-wrapper::after,.lang-wrapper::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 10px;
}
.diensten-popup a {
  padding: 8px 14px;
  font-size: 14px;
  white-space: nowrap;
}

.diensten-popup a:hover {
  background: #f3f3f3;
}


.nav {
  position: relative;
}

.lang-wrapper {
  position: relative;
  display: inline-block;
}

.lang-trigger {
  background: none;
  border: 1px solid white;
  color: var(--dark-blue);
  padding: 0px 8px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

/* popup */
.lang-popup {
  position: absolute;
  top: 120%;
  left: 0;
  background: white;
  border-radius: 6px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
}

.lang-popup a {
  padding: 6px 12px;
  color: black;
}

.lang-popup a:hover {
  background: #f3f3f3;
}

.lang-popup a.active {
  font-weight: 700;
  background-color: #eee;
}

.diensten-popup a:first-child {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.diensten-popup a:last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.lang-popup a:first-child {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.lang-popup a:last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

@media (max-width: 768px) {
  .menu {
    display: none;
  }
  header {
    justify-content: space-between;
  }
}